$bg: #f7f7f7;
$orange: #f76d2f;
$yellow: #f7c92f;
$text: #3f4045;
$gradient: linear-gradient(to right, $orange, #f7882f, $yellow);
$smallShadow: 0 3px 20px rgba(0, 0, 0, 0.13);
$divShadow: 0 0 16px rgba(0, 0, 0, 0.13);

$font: "muli", sans-serif;

/* muli-regular - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/muli-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/muli-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/muli-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/muli-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/muli-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/muli-v20-latin-regular.svg#Muli")
      format("svg"); /* Legacy iOS */
}
/* muli-600 - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/muli-v20-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/muli-v20-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/muli-v20-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/muli-v20-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/muli-v20-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/muli-v20-latin-600.svg#Muli")
      format("svg"); /* Legacy iOS */
}
/* muli-500 - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/muli-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/muli-v20-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/muli-v20-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/muli-v20-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/muli-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/muli-v20-latin-500.svg#Muli")
      format("svg"); /* Legacy iOS */
}
/* muli-700 - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/muli-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/muli-v20-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/muli-v20-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/muli-v20-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/muli-v20-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/muli-v20-latin-700.svg#Muli")
      format("svg"); /* Legacy iOS */
}
/* muli-800 - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/muli-v20-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/muli-v20-latin-800.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/muli-v20-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/muli-v20-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/muli-v20-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/muli-v20-latin-800.svg#Muli")
      format("svg"); /* Legacy iOS */
}
/* muli-900 - latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/muli-v20-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/muli-v20-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/muli-v20-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/muli-v20-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/muli-v20-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/muli-v20-latin-900.svg#Muli")
      format("svg"); /* Legacy iOS */
}

@import "./main";
@import "./navbar";
@import "./home";
@import "./learn";
